<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesi칩n</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
</head>
<body>
    <div class="login-container">
        <img src="/images/iutarLogo.png" alt="Logo" class="logo">
        <h2>Iniciar Sesi칩n</h2>

        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>

        <form id="loginForm" action="/auth/login" method="POST">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contrase침a:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Iniciar Sesi칩n">
        </form>
    </div>
    <script src="/javascripts/login.js"></script>
</body>
</html>